Repository MuslehMutahhar/Job-Board, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @security-team, @frontend-team, @backend-team, @database-team, @devops-team, @docs-team

.github/CODEOWNERS:

# This is a CODEOWNERS file to define code ownership and review requirements
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence
*                   @admin-team

# Authentication and authorization
/src/app/api/auth/  @security-team

# Frontend components
/src/components/    @frontend-team
/src/app/(routes)/  @frontend-team
/src/styles/        @frontend-team

# Backend API endpoints
/src/app/api/       @backend-team

# Database models and migrations
/prisma/            @database-team

# Configuration files
*.config.js         @devops-team
*.config.ts         @devops-team
/next.config.*      @devops-team
/.github/           @devops-team

# Documentation
/docs/              @docs-team
*.md                @docs-team

images
  README.md
  job-board/public/images/screenshots/company.png
  job-board/public/images/screenshots/home.png
  job-board/public/images/screenshots/jobs.png
Owners: @docs-team, @admin-team

imgs
  README.md
Owners: @docs-team

readme
  .github/FUNDING.yml
  README.md
Owners: @devops-team, @docs-team

deployment
  README.md
  package.json
  prisma/schema.prisma
  src/lib/prisma.ts
  src/types/next.d.ts
  vercel.json
Owners: @docs-team, @admin-team, @database-team

Fix: Replace next.config.ts with next.config.js for Vercel deployment, optimize Prisma for serverless
  .env.example
  next.config.js
  next.config.ts
  package.json
  prisma/schema.prisma
  src/lib/prisma.ts
  vercel.json
Owners: @admin-team, @devops-team, @database-team

Fix: Update Tailwind CSS configuration for proper build
  package.json
  postcss.config.mjs
Owners: @admin-team

Fix: Update Tailwind CSS imports in globals.css
  src/app/globals.css
Owners: @admin-team

Fix: Update NextAuth configuration for App Router compatibility
  src/app/api/auth/[...nextauth]/route.ts
Owners: @backend-team

Fix: Restructure auth and socket configurations
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/socket/route.ts
  src/lib/auth.ts
  src/lib/socket.ts
Owners: @backend-team, @admin-team

Fix: Update authOptions import path in API routes
  src/app/api/applications/[id]/route.ts
  src/app/api/applications/route.ts
  src/app/api/companies/[id]/route.ts
  src/app/api/companies/route.ts
  src/app/api/jobs/[id]/route.ts
  src/app/api/jobs/route.ts
Owners: @backend-team

Fix: Update job and application routes to match schema and fix authorization
  src/app/api/applications/[id]/route.ts
  src/app/api/jobs/[id]/route.ts
  src/app/api/jobs/route.ts
Owners: @backend-team

Fix: Update Tailwind CSS configuration and styling
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  tailwind.config.js
Owners: @admin-team, @devops-team

Fix: Update application route to use correct Prisma schema fields
  src/app/api/applications/[id]/route.ts
Owners: @backend-team

Fix: Update applications route to use correct Prisma schema fields and improve filtering
  src/app/api/applications/route.ts
Owners: @backend-team

Fix: Update registration route to match simplified schema
  src/app/api/auth/register/route.ts
Owners: @backend-team

Fix: Add bcryptjs dependency for password hashing
  package-lock.json
  package.json
Owners: @admin-team

Fix: Update company route to use correct Prisma schema fields
  src/app/api/companies/[id]/route.ts
Owners: @backend-team

Fix: Update job field name from jobType to type to match Prisma schema
  src/app/api/companies/route.ts
  src/app/api/jobs/[id]/route.ts
  src/app/api/jobs/route.ts
Owners: @backend-team

Fix: Update search query to use Prisma.QueryMode enum
  src/app/api/companies/route.ts
Owners: @backend-team

Fix: Resolve naming conflict in debug route and remove path from cookie info
  src/app/api/debug/route.ts
Owners: @backend-team

Fix: Update NextAuth configuration and environment variables
  src/lib/auth.ts
Owners: @admin-team

Fix: Update auth configuration to work without database
  src/lib/auth.ts
Owners: @admin-team
